<!-- myapp/templates/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spam detection </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Spam Detector</h1>
    </header>
    
    <main>
        <form id="myForm" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <div id="resultBox">{{ result }}</div>
    </main>
    
    
</body>
</html>
